---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Included libraries
@import 'bourbon';
@import 'megatype/megatype.scss';

@font-face {
    font-family: 'Vollkorn';
    src: url('../fonts/Vollkorn-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Vollkorn';
    src: url('../fonts/Vollkorn-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Fira';
    src: url('../fonts/FiraMono-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Fira';
    src: url('../fonts/FiraMono-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


// Our variables
$base-font-family: "Fira", Georgia, Monospace, serif;
$base-heading-family: "Vollkorn", Helvetica, Arial, sans-serif;
$base-font-size:   14px;
$base-font-weight: 200;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     2em;
$button_size:      1em;

$text-color:       #272E34;
$background-color: #fdfdfd;
$brand-color:      #FCBD2C;

$grey-color-light: #EBEBEB;
$grey-color:       darken($grey-color-light, 25%);
$grey-color-dark:  darken($grey-color-light, 45%);

// Width of the content area
$content-width:    1300px;
$site-width:       1024px;

$on-palm:          640px;
$on-laptop:        960px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        'page',
        'responsive'
;
