.swiper-container {
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	position: relative;
	z-index: 1;
	min-width: 100vw; 
	margin-left: calc((2em + 5%) * -1);
	margin-top: $spacing-unit * 2;
	margin-bottom: $spacing-unit * 2;
}

.swiper-container-no-flexbox .swiper-slide {
	float: left;
}

.swiper-container-vertical > .swiper-wrapper {
	flex-direction: column;
}

.swiper-wrapper {
	box-sizing: content-box;
	display: flex;
	height: 100%;
	position: relative;
	transition-property: transform;
	width: 100%;
	z-index: 1;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
	transform: translate3d(0px, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
	flex-wrap: wrap;
}

.swiper-container-free-mode > .swiper-wrapper {
	transition-timing-function: ease-out;
	margin: 0 auto;
}

.swiper-slide {
	flex-shrink: 0;
	height: 100%;
	position: relative;
	width: 100%;
}

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
	height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
	align-items: flex-start;
	transition-property: transform, height;
}

.swiper-container .swiper-notification {
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	z-index: -1000;
}

.swiper-wp8-horizontal {
	touch-action: pan-y;
}

.swiper-wp8-vertical {
	touch-action: pan-x;
}