<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <span><a href="http://instagram.com/levidps" target="_blank"><img src="/assets/instagram.svg" alt="instagram"></a></span>
        <span><a href="http://github.com/levidps" target="_blank"><img src="/assets/github.svg" alt="github"></a></span>
      </div>

      <div class="footer-col">
        <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
        <p>© {{ site.title }} <script>document.write(new Date().getFullYear());</script></p>
      </div>
    </div>

  </div>

</footer>
