<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
          <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
      </div>

      <div class="footer-col">
        <p>All rights reserved {{ site.title }} © <script>document.write(new Date().getFullYear());</script></p>
      </div>
    </div>

  </div>


  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{ "/js/scripts.js" | prepend: site.baseurl }}"></script>


</footer>
