<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->

<head>
<!--
 _______________________________
|  ___________________________  |\
| |       ___       ___       | | |
| |      /  /\     / \ \      | | |
| |     /  / /     \  \ \     | | |
| |    /  / /       \  \ \    | | |
| |   /  / /    ..   \  \ \   | | |
| |  /__/ /     /\    \__\ \  | | |
| |  \  \ \     \/    /  / /  | | |
| |   \  \ \    ..   /  / /   | | |
| |    \  \ \       /  / /    | | |
| |     \  \ \     /  / /     | | |
| |      \__\/     \/__/      | | |
| |___________________________| | |
|_______________________________| |
 \______ levidps@gmail.com ______\|

 -->

	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<link rel="stylesheet" href="/public/css/ie.css" type="text/css" media="screen">
	<![endif]-->

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/jquery.history.js"></script>
  <script type="text/javascript" src="/js/scripts.js"></script>

</head>
