<header class="site-header">

  <div class="wrapper">

    <div class="logo-wrapper">
      <a href="{{ site.baseurl }}/"><h1 class="logo">@levidps</h1></a>
      <p class="social-button">find me</p>
      <ul class="social-media-list">
        <li>
          <a href="http://www.instagram.com/levidps" target="_blank">insta</a>
        </li>

        <li>
          <a href="http://www.github.com/levidps" target="_blank">git</a>
        </li>

        <li>
          <a href="http://www.linkedin.com/in/levidps" target="_blank">linked</a>
        </li>
      </ul>
    </div>


    <nav class="site-nav">
      <a href="#" class="menu-icon">
      </a>

      <div class="trigger">
          <a class="page-link" data-id="about">About</a>
          <a class="page-link" data-id="work">Work</a>
      </div>
    </nav>

  </div>

</header>
