<header class="site-header">

  <div class="wrapper">

    <h1 class="logo">@levidps</h1>

      <ul class="social-media-list">
        <li>
          <a href="http://www.instagram.com/levidps" target="_blank">insta</a>
        </li>

        <li>
          <a href="http://www.github.com/levidps" target="_blank">git</a>
        </li>

        <li>
          <a href="http://www.linkedin.com/in/levidps" target="_blank">linked</a>
        </li>
      </ul>


    <nav class="site-nav">
      <a href="#" class="menu-icon">
      </a>

      <div class="trigger">
          <a class="page-link" id="about">About</a>
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
