/*****************************
	FOOTER STYLES
*****************************/

.site-footer {
	position: relative;
	bottom: 0;
	width: 100%;

	.footer-col {

		&:last-child {
			float: right;
			text-align: right;
		}

	}

}