/*****************************
	HEADER STYLES
*****************************/
.site-header {
  position: relative;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  transition: all .5s ease;
  padding-bottom: $spacing-unit;
  padding-top: $spacing-unit;
  background-color: rgba(235,235,235,.0);
  opacity: 1;

  .ui_internal & {
    opacity: 0;
    top: -75px;
  }

  .masthead_visible & {
    background-color: rgba(235,235,235,.95);
  }

}

.logo-wrapper {
  max-width: 100px;
  float: left;

  .logo {
    opacity: .4;
    transition: all .3s ease;
    line-height: 1em;
    margin-bottom: 0;
    top: 0;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }

  }

}


.site-nav {
  float: right;
  position: relative;
  z-index: 100;
  font-family: $base-font-family;
  font-weight: 700;
  text-transform: lowercase;

  .active_nav & {
    #menuToggle {

      span {
        @include transform( rotate(45deg) );
        top: calc(50% - 1px);
        bottom: auto;

        &:last-of-type {
          top: calc(50% - 1px);
          bottom: auto;
        }

        &:first-of-type {
          @include transform( rotate(-45deg) );
        }
      }
    }

    .menu {
      opacity: 1;
      min-height: 100vh;
      background-color: rgba( #fff, .95);
      color: $text-color;
      visibility: visible;

      a {
        transition: transform .3s ease, opacity .3s ease;
        transition-delay: .5s;
        opacity: 1;
        @include transform( translateY(0) );
      }
    }
  }

  #menuToggle {
    padding: 0;
    position: relative;
    width: 30px;
    height: 24px;
    opacity: .4;
    transition: opacity .3s;
    z-index: 10;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }

    span {
      position: absolute;
      width: inherit;
      height: 3px;
      background-color: $text-color;
      display: block;
      top: 0;
      transition: all .4s cubic-bezier(.13,.95,.4,1.09);

      &:last-of-type {
        bottom: 0;
        top: auto;
      }

      &:nth-of-type(1) {
        top: calc(50% - 2px);
      }
    }
  }

}

.menu {
  position: fixed;
  min-height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  background-color: rgba( black, 0);
  transition: opacity .3s ease;
  opacity: 0;
  text-align: center;
  overflow: scroll;
  @include display(flex);
  @include flex-flow(row wrap);
  @include align-items(center);

  a {
    width: 100%;
    font-size: 2rem;
    opacity: 0;
    transition: transform .1s ease, opacity .1s ease;
    @include transform(translateY(10px));
  }

  .inner-wrapper {
    transition: all .75s cubic-bezier(.13,.95,.4,1.09);
  }
}
