.face {
  max-width: 18em;
  margin: 0 auto;
    
  &:hover {
    p {
      width: 5em;
    }

    span {
      opacity: 1;
    }
  
  }
  
  h1 {
    text-align: center;
    font-size: 10em;
    margin: 0;
  }

  p {
    text-align: center;
    margin: 0 auto;
    overflow:hidden;
    display:inline-block;
    transition: width .3s ease;
    overflow: visible;
    line-height: .75em;
    width: 4em;
  }

  span {
    display: block;
    text-align: center;
    margin: 1.25em auto;
    transition: opacity .75s ease;
    opacity: .0;

    &:before {
      display: inline-block;
      font-weight: normal;
      content: '{ ';
      font-weight: bold;
    }
    
    &:after {
      display: inline-block;
      font-weight: normal;
      content: ' }';
      font-weight: bold;
    }
  }

}

.logo {

  &:hover {
    cursor: pointer;
  }

}

.social-media-list {
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;

  .active & {
    visibility: visible;
    opacity: 1;

    a {
      color: white;
    }

    &:before {
      content: ' ';
      width: 100%;
      display: block;
      opacity: 1;
    }

  }

  li {
    font-size: 1.45rem;
    line-height: 1.5em;

    a {
      margin-left: -1.125em;
      transition: all .3s ease;
      -webkit-transition: all .3s ease;
      color: black;

      &:before {
          content: '-> ';
          opacity: 0;
          transition: all .3s ease;
          -webkit-transition: all .3s ease;
          width: 1.125em;
          display: inline-block;
          overflow: hidden;
          line-height: .75;
      }

      &:hover {
        margin-left: 0;

        &:before {
            content: '->  ';
            opacity: .6;
            transition: all .3s ease;
            -webkit-transition: all .3s ease;
            width: 1.125em;
            display: inline-block;
            overflow: hidden;
            line-height: .75;
        }

      }

    }

  }

  &:before {
    height: 140vh;
    width: 0%;
    content: ' ';
    display: block;
    transition: opacity 1s ease, width .3s ease;
    transform: rotate(10deg);
    opacity: 0;
    color: white;
    background-color: black;
    position: absolute;
    top: -24vh;
    z-index: -1;
    left: -10%;
  }

}

body {
  transition: all .3s ease;
  &.active {
    color: white;
  }
}

p {
    font-family: $base-text-family;
    font-size: .85rem;
    letter-spacing: .02em;
    margin: 0;
    line-height: 1em;
}

ol {
  margin: 0;

  li {
    list-style: none;

    p {
      display: inline-block;
    }

    &:after {
      content: '}';
      display: inline-block;
      font-family: $base-font-family;
      font-weight: bold;
      font-size: 1rem;
      margin-left: .325em;
    }

    &:before {
      content: '{';
      display: inline-block;
      font-family: $base-font-family;
      font-weight: bold;
      font-size: 1rem;
      margin-right: .325em;
    }
  }
}
