@import 'header.scss',
        'footer.scss';

/*****************************
  PAGE STYLES
*****************************/

body {
  color: $text-color;
  background-color: $grey-color-light;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  position: relative;
  min-height: 100%;
}

hr {
  height: 2px;
  border:none;
  margin: $spacing-unit 0;
  background-color: rgba( $brand-color, .4);
}

blockquote {
  font-style: normal;
  border: none;
  letter-spacing: .025em;
  color: inherit;
  padding: 0;
  margin: ( $spacing-unit) auto;
  max-width: 690px;
  margin-left: 0;
}

.code-wrapper {
  padding: 1em;
  background-color: rgba(white, .6);
  border-radius: 5px;
  margin-bottom: 1em;

  a {
    &:after {
      display: none;
    }
  }

}

.inner-wrapper {
  max-width: $site-width;
  width: 90%;
  margin: 0 auto;
  @extend %clearfix;
}

.post-header {
  min-height: 101.5vh;
  @include display(flex);
  @include align-items(center);

  .wrapper {
    max-width: 640px;
  }
}

.post-content {
  padding-top: $spacing-unit * 2;
  padding-bottom: $spacing-unit * 2;
}
