.face {
  max-width: 18em;
  margin: 0 auto;
    
  &:hover {
    p {
      width: 5em;
    }

    span {
      opacity: 1;
    }
  
  }
  
  h1 {
    text-align: center;
    font-size: 10em;
    margin: 0;
  }

  p {
    text-align: center;
    margin: 0 auto;
    overflow:hidden;
    display:inline-block;
    transition: width .3s ease;
    overflow: visible;
    line-height: .75em;
    width: 4em;
  }

  span {
    display: block;
    text-align: center;
    margin: 1.25em auto;
    transition: opacity .75s ease;
    opacity: .0;

    &:before {
      display: inline-block;
      font-weight: normal;
      content: '{ ';
      font-weight: bold;
    }
    
    &:after {
      display: inline-block;
      font-weight: normal;
      content: ' }';
      font-weight: bold;
    }
  }

}

.logo {

  &:hover {
    cursor: pointer;
  }

}

.social-media-list {
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;

  .active & {
    visibility: visible;
    opacity: 1;
  }

  li {
    font-size: 1.45rem;
    line-height: 1.5em;

    a {
      margin-left: -1.125em;
      transition: all .3s ease;
      -webkit-transition: all .3s ease;

      &:before {
          content: '-> ';
          opacity: 0;
          transition: all .3s ease;
          -webkit-transition: all .3s ease;
          width: 1.125em;
          display: inline-block;
          overflow: hidden;
          line-height: .75;
      }

      &:hover {
        margin-left: 0;

        &:before {
            content: '->  ';
            opacity: .6;
            transition: all .3s ease;
            -webkit-transition: all .3s ease;
            width: 1.125em;
            display: inline-block;
            overflow: hidden;
            line-height: .75;
        }

      }

    }

  }

}


.active {
  background-color: black;
  color: white;
}
