@media only screen and (min-width: 640px) {
	html { font-size: 14px; }

	.post-content {
		padding-top: $spacing-unit * 4;
		padding-bottom: $spacing-unit * 4;
	}
}

@media only screen and (min-width: 1024px) {
	.swiper-container {
		margin-left: calc( (100vw - 1024px ) * -1 / 2);
		padding-top: $spacing-unit * 2;
		padding-bottom: $spacing-unit * 4;
	}
}

@media only screen and (min-width: 2000px) {
	html { font-size: 24px; }
}